.scanner{
    color: #fff;
}
h1{
    text-align: center;
    margin-top: 15px;
}

table{
    display: block;
    margin: 20px auto;
}

th,td{
    padding: 10px;
    color: white;
    text-align: center;
    font-size: large;
}

.mes{
    color: #fff;
    text-align: center;
    font-size: large;
}