.editf{
    max-width: 500px;
    display: block;
    margin: auto;
}

.editf label{
    color: white;
    text-align: center;
    padding: 20px;
}

.editf input{
    color: white;
}

.editf button{
    max-width: 100px;
    display: block;
    margin: auto;
}

